################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Todo/.vs/Todo/v15
/.vs
/Todo/Todo/bin
/Todo/Todo/obj
